@charset "UTF-8";
@import url(./reset.css);

#wrap {width:1200px;margin:0 auto;position:relative;z-index:1;}
/* 헤더 */
#wrap #header {z-index:3;position:relative;width:100%;height:100px;display:flex;}
#wrap #header .left  {width:200px;height:100px;background:#fff;}
#wrap #header .left h1 {width:100%;height:100%;display:flex;align-items:center;}
#wrap #header .left h1 a {display:block;width:100%;height:40px;display:flex;justify-content:center;align-items:center;background:rgba(50,150,200, 1);transition:all .3s;border-radius:5px;}
#wrap #header .left h1 a:hover {background:rgba(50,150,200, .7);}
#wrap #header .left h1 a img {width:50%;}

#wrap #header .right {width:1000px;height:100px;background:#fff;}

/* 메인메뉴 */
#wrap #header .right #nav {width:700px;height:50px;background:rgba(255,255,255, 1);margin:25px 20px 25px auto;}
#wrap #header .right #nav > ul {width:100%;display:flex;}
#wrap #header .right #nav > ul > li {width:25%;}
#wrap #header .right #nav > ul > li > a {display:block;width:100%;height:50px;display:flex;justify-content:center;align-items:center;border:1px solid #ccc;border-right:0;transition: all .3s;background:rgba(50,150,200, 0);color:#000;font-weight:500;font-size:16px;}
#wrap #header .right #nav > ul > li:last-child > a {border-right:1px solid #ccc;}
#wrap #header .right #nav > ul > li > a:hover {background:rgba(50,150,200, 1);color:#fff;border:1px solid rgba(50,150,200, 1);}
#wrap #header .right #nav > ul > li > a.on {background:rgba(50,150,200, 1);color:#fff;}

/* 서브메뉴 */
#wrap #header .right #nav > ul > li > .sub {width:100%;background:#fff;border-bottom:1px solid #ccc;display:none;}
#wrap #header .right #nav > ul > li:first-child > .sub {border-left:1px solid #ccc;}
#wrap #header .right #nav > ul > li:last-child > .sub  {border-right:1px solid #ccc;}
#wrap #header .right #nav > ul > li > .sub ul {padding:10px 0;}
#wrap #header .right #nav > ul > li > .sub ul li {width:100%;}
#wrap #header .right #nav > ul > li > .sub ul li a {display:block;width:100%;height:30px;display:flex;justify-content:center;align-items:center;background:#fff;transition:all .3s;}
#wrap #header .right #nav > ul > li > .sub ul li a:hover {background:rgba(50,150,200, 1);color:#fff;}

#wrap #header .right #nav > ul > li > .sub1 {}
#wrap #header .right #nav > ul > li > .sub2 {}
#wrap #header .right #nav > ul > li > .sub3 {}
#wrap #header .right #nav > ul > li > .sub4 {}

/* 메인 */
#wrap #main {z-index:2;position:relative;width:100%;}
#wrap #main #section1 {width:100%;height:300px;background:#ffc;}

/* 메인슬라이드 */
#wrap #main #section1 .slide-container {width:100%;}
/* 수직이동 슬라이드는 높이설정하고 overflow:hidden; */
#wrap #main #section1 .slide-container .slide-view {width:100%;height:300px;overflow:hidden;}
/* 포지션 설정하면 top 또는 left 속성 사용가능하다. position:relative;를 써야 left사용가능 */
#wrap #main #section1 .slide-container .slide-view .slide-wrap {
    position:relative;/* 필수 */
    width:100%;
    margin:-300px 0 0 0;
    top:calc(-300px*0);
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide {width:100%;position:relative;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide img {
    z-index:1;position:relative;
    width:100%;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide h2  {
    z-index:2;position:absolute;
    width:100%;
    top:50%;left:0;
    color:rgba(255,255,255, .9);
    font-size:60px;font-weight:600;
    text-align:center;
    margin:-30px 0 0 0;
}

#wrap #main #section2 {width:100%;height:200px;display:flex;padding:10px 0 0 0;justify-content:space-between;}
/* 공지사항 / 갤러리  */
#wrap #main #section2 .left   {width:393.33333px;height:100%;padding:40px 0 0 0;position:relative;}
/* 버튼 */
#wrap #main #section2 .left button {width:100px;height:41px;position:absolute;top:0;border:1px solid #ccc;border-bottom:0;border-radius:5px 5px 0 0;}
#wrap #main #section2 .left button.notice-btn  {left:10px;background-color:#fff;z-index:3;cursor:default;}
#wrap #main #section2 .left button.notice-btn.on  {background-color:#f0f0f0;z-index:1;cursor:pointer;}
#wrap #main #section2 .left button.gallery-btn {left:110px;z-index:1;background:#f0f0f0;cursor:pointer;}
#wrap #main #section2 .left button.gallery-btn.on {z-index:3;background:#fff;cursor:default;}
/* 공지사항박스 */
#wrap #main #section2 .left .notice-box  {width:100%;height:100%;border:1px solid #ccc;z-index:2;position:relative;}
#wrap #main #section2 .left .notice-box.on  {display:none;}
/* 공지사항 목록 내용 */
#wrap #main #section2 .left .notice-box .gap {padding:15px;}
#wrap #main #section2 .left .notice-box .gap ul {width:100%;}
#wrap #main #section2 .left .notice-box .gap ul li {width:100%;height:30px;display:flex;align-items:center;justify-content:space-between;position:relative;padding:0 0 0 12px;}
#wrap #main #section2 .left .notice-box .gap ul li::before {content:'';position:absolute;top:50%;left:0;width:4px;height:4px;margin-top:-2.5px;background:#555;border-radius:2px;}

/*
1. 너비 60% 잡기 => width: 60%;
2. 줄바꿈 안함 => white-space: nowrap;
3. 너비 60% 초과한 글자 숨기기 => overflow: hidden;
4. 초과한 글자 ...(말줄임표)로 표현하기 => text-overflow: ellipsis;
*/
#wrap #main #section2 .left .notice-box .gap ul li a {color:#333;width:50%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#wrap #main #section2 .left .notice-box .gap ul li a:hover {color:#36c;}
#wrap #main #section2 .left .notice-box .gap ul li span {color:#999;}
/* 갤러리박스 */
#wrap #main #section2 .left .gallery-box {display:none;width:100%;height:100%;border:1px solid #ccc;z-index:2;position:relative;text-align:center;line-height:145px;}
#wrap #main #section2 .left .gallery-box.on {display:block;}
/* 갤러리이미지 */
#wrap #main #section2 .left .gallery-box .gap {padding:0 7px;}
#wrap #main #section2 .left .gallery-box .gap ul {display:flex;}
#wrap #main #section2 .left .gallery-box .gap ul li {width:33.333%;}
#wrap #main #section2 .left .gallery-box .gap ul li .col-gap {margin:0 7px;}
#wrap #main #section2 .left .gallery-box .gap ul li .col-gap img {width:100%;}

/* 배너 */
#wrap #main #section2 .center {width:393.33333px;height:100%;}
#wrap #main #section2 .center .title {width:100%;height:40px;border:1px solid #ccc;border-bottom:0;background:#fff;display:flex;justify-content:center;align-items:center;}
#wrap #main #section2 .center .title h2 {font-size:15px;font-weight:500;}
#wrap #main #section2 .center .img-box {width:100%;border:1px solid #ccc;height:150px;display:flex;justify-content:center;align-items:center;overflow:hidden;}
#wrap #main #section2 .center .img-box img {width:100%;}
/* 바로가기 */
#wrap #main #section2 .right  {width:393.33333px;height:100%;}
#wrap #main #section2 .right .title {width:100%;height:40px;border:1px solid #ccc;border-bottom:0;background:#fff;display:flex;justify-content:center;align-items:center;}
#wrap #main #section2 .right .title h2 {font-size:15px;font-weight:500;}
#wrap #main #section2 .right .img-box {width:100%;border:1px solid #ccc;height:150px;display:flex;justify-content:center;align-items:center;overflow:hidden;}
#wrap #main #section2 .right .img-box img {width:100%;}

/* 푸터 */
#wrap #footer {z-index:1;position:relative;width:100%;height:90px;display:flex;margin:10px 0 0 0;justify-content:space-between;background:#fff;}
#wrap #footer .left   {width:200px;height:100%;display:flex;align-items:center;border:1px solid #ccc;}
#wrap #footer .left h1 {width:100%;}
#wrap #footer .left h1 a {display:flex;width:100%;height:40px;align-items:center;justify-content:center;}
#wrap #footer .left h1 a img {width:70%;}

#wrap #footer .center {width:780px;height:100%;border:1px solid #ccc;}
#wrap #footer .center .row1 {width:100%;height:50%;display:flex;justify-content:center;align-items:center;}
#wrap #footer .center .row1 span {font-size:12px;}
#wrap #footer .center .row1 span a {color:#999;}
#wrap #footer .center .row1 span i {margin:0 10px;color:#999;}

#wrap #footer .center .row2 {width:100%;height:50%;display:flex;justify-content:center;align-items:center;}
#wrap #footer .center .row2 p {font-size:10px;color:#999;}


#wrap #footer .right  {width:200px;height:100%;display:flex;justify-content:space-evenly;align-items:center;border:1px solid #ccc;}
#wrap #footer .right span {display:inline-block;}
#wrap #footer .right span a {display:inline-block;}
#wrap #footer .right span a img {width:30px;border-radius:5px;}

/* 모달창 */
#modal {display:none;width:100%;height:100%;position:fixed;top:0;left:0;z-index:5;background:rgba(0,0,0, .5);}
/* 컨테이너를 정렬하기위한 랩퍼박스 */
#modal .modal-wrap {width:100%;height:100%;display:flex;justify-content:center;align-items:center;}
#modal .modal-wrap .modal-container {width:550px;height:auto;background:#fff;}
#modal .modal-wrap .modal-container .title {width:100%;height:60px;border-bottom:1px solid #ccc;display:flex;align-items:center;background:#f4f4f4;}
#modal .modal-wrap .modal-container .title h2 {font-size:17px;font-weight:600;padding:0 0 0 20px;color:#000;}

#modal .modal-wrap .modal-container .content {width:100%;padding:10px 25px;}
#modal .modal-wrap .modal-container .content ol {padding:0 0 0 20px;}
#modal .modal-wrap .modal-container .content ol li {font-size:14px;padding:7px 0;line-height:160%;border-bottom:0;}
#modal .modal-wrap .modal-container .content ol li img {width:150px;}

#modal .modal-wrap .modal-container .button-box {padding:10px 25px 25px 25px;text-align:right;}
#modal .modal-wrap .modal-container .button-box .modal-close {padding:7px 25px;cursor:pointer;border:1px solid #ccc;border-radius:3px;}